.ahvr-animated.animated-box:hover > * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ahvr-animated {
  /* Attention Seekers */
  /* Rotating Entrances */
  /* bounces */
  /* fades */
  /* Rotating Exits */
  /* Sliding Entrances */
  /* Sliding Exits */
  /*Zoom Entrances  */
}

.ahvr-animated:hover .animated-bounce,
.ahvr-animated:hover.animated-bounce > * {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.ahvr-animated:hover .animated-flash,
.ahvr-animated:hover.animated-flash > * {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.ahvr-animated:hover .animated-pulse,
.ahvr-animated:hover.animated-pulse > * {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.ahvr-animated:hover .animated-rubberBand,
.ahvr-animated:hover.animated-rubberBand > * {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.ahvr-animated:hover .animated-shake,
.ahvr-animated:hover.animated-shake > * {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.ahvr-animated:hover .animated-swing,
.ahvr-animated:hover.animated-swing > * {
  -webkit-animation-name: swing;
  animation-name: swing;
}

.ahvr-animated:hover .animated-tada,
.ahvr-animated:hover.animated-tada > * {
  -webkit-animation-name: tada;
  animation-name: tada;
}

.ahvr-animated:hover .animated-wobble,
.ahvr-animated:hover.animated-wobble > * {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

.ahvr-animated:hover .animated-jello,
.ahvr-animated:hover.animated-jello > * {
  -webkit-animation-name: jello;
  animation-name: jello;
}

.ahvr-animated:hover .animated-rotateIn,
.ahvr-animated:hover.animated-rotateIn > * {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

.ahvr-animated:hover .animated-rotateInDownLeft,
.ahvr-animated:hover.animated-rotateInDownLeft > * {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

.ahvr-animated:hover .animated-rotateInDownRight,
.ahvr-animated:hover.animated-rotateInDownRight > * {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

.ahvr-animated:hover .animated-rotateInUpLeft,
.ahvr-animated:hover.animated-rotateInUpLeft > * {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}

.ahvr-animated:hover .animated-rotateInUpRight,
.ahvr-animated:hover.animated-rotateInUpRight > * {
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
}

.ahvr-animated:hover .animated-bounceIn,
.ahvr-animated:hover.animated-bounceIn > * {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.ahvr-animated:hover .animated-bounceInDown,
.ahvr-animated:hover.animated-bounceInDown > * {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.ahvr-animated:hover .animated-bounceInLeft,
.ahvr-animated:hover.animated-bounceInLeft > * {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.ahvr-animated:hover .animated-bounceInRight,
.ahvr-animated:hover.animated-bounceInRight > * {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.ahvr-animated:hover .animated-bounceInUp,
.ahvr-animated:hover.animated-bounceInUp > * {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.ahvr-animated:hover .animated-bounceOut,
.ahvr-animated:hover.animated-bounceOut > * {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

.ahvr-animated:hover .animated-bounceOutDown,
.ahvr-animated:hover.animated-bounceOutDown > * {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}

.ahvr-animated:hover .animated-bounceOutLeft,
.ahvr-animated:hover.animated-bounceOutLeft > * {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

.ahvr-animated:hover .animated-bounceOutRight,
.ahvr-animated:hover.animated-bounceOutRight > * {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

.ahvr-animated:hover .animated-bounceOutUp,
.ahvr-animated:hover.animated-bounceOutUp > * {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

.ahvr-animated:hover .animated-fadeIn, .ahvr-animated:hover.animated-fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.ahvr-animated:hover .animated-fadeInDown, .ahvr-animated:hover.animated-fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.ahvr-animated:hover .animated-fadeInDownBig, .ahvr-animated:hover.animated-fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.ahvr-animated:hover .animated-fadeInLeft, .ahvr-animated:hover.animated-fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.ahvr-animated:hover .animated-fadeInLeftBig, .ahvr-animated:hover.animated-fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

.ahvr-animated:hover .animated-fadeInRight, .ahvr-animated:hover.animated-fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.ahvr-animated:hover .animated-fadeInRightBig, .ahvr-animated:hover.animated-fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

.ahvr-animated:hover .animated-fadeInUp, .ahvr-animated:hover.animated-fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.ahvr-animated:hover .animated-fadeInUpBig, .ahvr-animated:hover.animated-fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

.ahvr-animated:hover .animated-fadeOut, .ahvr-animated:hover.animated-fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.ahvr-animated:hover .animated-fadeOutDown, .ahvr-animated:hover.animated-fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.ahvr-animated:hover .animated-fadeOutDownBig, .ahvr-animated:hover.animated-fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

.ahvr-animated:hover .animated-fadeOutLeft, .ahvr-animated:hover.animated-fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.ahvr-animated:hover .animated-fadeOutLeftBig, .ahvr-animated:hover.animated-fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

.ahvr-animated:hover .animated-fadeOutRight, .ahvr-animated:hover.animated-fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

.ahvr-animated:hover .animated-fadeOutRightBig, .ahvr-animated:hover.animated-fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

.ahvr-animated:hover .animated-fadeOutUp, .ahvr-animated:hover.animated-fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.ahvr-animated:hover .animated-fadeOutUpBig, .ahvr-animated:hover.animated-fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

.ahvr-animated:hover .animated-rotateOut,
.ahvr-animated:hover.rotateOu.animated- > * {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}

.ahvr-animated:hover .animated-rotateOutDownLeft,
.ahvr-animated:hover.animated-rotateOutDownLeft > * {
  -webkit-animation-name: rotateOutDownLeft;
  animation-name: rotateOutDownLeft;
}

.ahvr-animated:hover .animated-rotateOutDownRight,
.ahvr-animated:hover.animated-rotateOutDownRight > * {
  -webkit-animation-name: rotateOutDownRight;
  animation-name: rotateOutDownRight;
}

.ahvr-animated:hover .animated-rotateOutUpLeft,
.ahvr-animated:hover.animated-rotateOutUpLeft > * {
  -webkit-animation-name: rotateOutUpLeft;
  animation-name: rotateOutUpLeft;
}

.ahvr-animated:hover .animated-rotateOutUpRight,
.ahvr-animated:hover.animated-rotateOutUpRight > * {
  -webkit-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
}

.ahvr-animated:hover .animated-slideInDown,
.ahvr-animated:hover.animated-slideInDown > * {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.ahvr-animated:hover .animated-slideInLeft,
.ahvr-animated:hover.animated-slideInLeft > * {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.ahvr-animated:hover .animated-slideInRight,
.ahvr-animated:hover.animated-slideInRight > * {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.ahvr-animated:hover .animated-slideInUp,
.ahvr-animated:hover.animated-slideInUp > * {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.ahvr-animated:hover .animated-slideOutDown,
.ahvr-animated:hover.animated-slideOutDown > * {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

.ahvr-animated:hover .animated-slideOutLeft,
.ahvr-animated:hover.animated-slideOutLeft > * {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

.ahvr-animated:hover .animated-slideOutRight,
.ahvr-animated:hover.animated-slideOutRight > * {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

.ahvr-animated:hover .animated-slideOutUp,
.ahvr-animated:hover.animated-slideOutUp > * {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.ahvr-animated:hover .animated-zoomIn,
.ahvr-animated:hover.animated-zoomIn > * {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.ahvr-animated:hover .zoomInDown, .ahvr-animated:hover.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

.ahvr-animated:hover .zoomInLeft, .ahvr-animated:hover.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
}

.ahvr-animated:hover .zoomInRight, .ahvr-animated:hover.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
}

.ahvr-animated:hover .zoomInUp, .ahvr-animated:hover.zoomInUp {
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
}

.ahvr-animated:hover .zoomOut, .ahvr-animated:hover.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

.ahvr-animated:hover .zoomOutDown, .ahvr-animated:hover.zoomOutDown {
  -webkit-animation-name: zoomOutDown;
  animation-name: zoomOutDown;
}

.ahvr-animated:hover .zoomOutLeft, .ahvr-animated:hover.zoomOutLeft {
  -webkit-animation-name: zoomOutLeft;
  animation-name: zoomOutLeft;
}

.ahvr-animated:hover .zoomOutRight, .ahvr-animated:hover.zoomOutRight {
  -webkit-animation-name: zoomOutRight;
  animation-name: zoomOutRight;
}

.ahvr-animated:hover .zoomOutUp, .ahvr-animated:hover.zoomOutUp {
  -webkit-animation-name: zoomOutUp;
  animation-name: zoomOutUp;
}

.ahvr-square {
  position: relative;
}

.ahvr-square .image {
  display: block;
  width: 100%;
  height: auto;
}

.ahvr-square .overlay {
  position: absolute;
  background-color: #30A9DE;
  overflow: hidden;
  transition: .5s ease;
}

.ahvr-square .middle {
  color: #f3f3f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 1rem;
}

/*
=========================================================
zoom image
=========================================================
*/
.ahvr-square.ahvr-zoom-image {
  transition: transform .3s;
}

.ahvr-square.ahvr-zoom-image:hover {
  transform: scale(1.05);
}

.overlay-hidden {
  overflow: hidden;
}

/* Aninated Middle
=========================== */
.ahvr-middle-from-top .middle {
  top: 0;
  transition: top .3s;
}

.ahvr-middle-from-top:hover .overlay .middle {
  top: 50%;
}

.ahvr-middle-from-bottom .middle {
  top: 100% !important;
  transition: top .3s;
}

.ahvr-middle-from-bottom:hover .overlay .middle {
  top: 50% !important;
}

.ahvr-middle-from-left .middle {
  left: 0;
  transition: left 0.3 !important;
}

.ahvr-middle-from-left:hover .overlay .middle {
  left: 50%;
}

.ahvr-middle-from-right .middle {
  left: 100%;
  transition: left 0.3 !important;
}

.ahvr-middle-from-right:hover .overlay .middle {
  left: 50%;
}

.ahvr-boxed-image .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.75);
  transition: all .25s ease-in-out;
}

.ahvr-boxed-image:hover .overlay {
  background-color: rgba(33, 33, 33, 0.45);
}

.ahvr-boxed-image .middle .box-icon {
  font-size: 2.5rem;
}

.ahvr-boxed-image .middle .box-title {
  font-weight: 600;
}

.ahvr-boxed-image .middle .box-text {
  font-weight: 300;
  font-size: 1rem;
}

.ahvr-boxed-image.overlay-opacity {
  overflow: hidden;
}

.ahvr-boxed-image.overlay-opacity .overlay {
  opacity: 0;
}

.ahvr-boxed-image.overlay-opacity:hover .overlay {
  opacity: 1;
}

.ahvr-box-effect-1 {
  overflow: hidden;
}

.ahvr-box-effect-1 .overlay {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.57);
  height: 65px;
  max-height: 65px;
}

.ahvr-box-effect-1 .box-content {
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 5px 10px;
}

.ahvr-box-effect-1 .box-content .box-title {
  border-bottom: 1px dotted transparent;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.ahvr-box-effect-1 .box-content .box-text {
  width: 100%;
  bottom: 0;
  min-height: 50px;
  padding-top: 10px;
}

.ahvr-box-effect-1 .image,
.ahvr-box-effect-1 .overlay,
.ahvr-box-effect-1 .box-content {
  transition: all 1s ease-out;
}

.ahvr-box-effect-1 .box-content .box-text {
  transition: all 2s ease-out;
}

.ahvr-box-effect-1 .box-content.info-center {
  transition: all 1s ease-in-out;
}

.ahvr-box-effect-1:hover .image {
  transform: scale(1.09);
}

.ahvr-box-effect-1:hover .overlay {
  height: 100%;
  max-height: 100%;
}

.ahvr-box-effect-1:hover .overlay.box-center {
  display: flex;
  align-items: center;
}

.ahvr-box-effect-1:hover .overlay.box-start {
  display: flex;
  align-items: flex-start;
}

.ahvr-box-effect-1:hover .overlay.box-end {
  display: flex;
  align-items: flex-end;
}

.ahvr-box-effect-1:hover .box-content .box-title {
  border-bottom: 1px dotted #fff;
}

/* effects opacity hover */
.ahvr-square.effect-opacity .overlay {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.ahvr-square.effect-opacity:hover .overlay {
  opacity: 1;
}
