a,
a:hover {
  text-decoration: none !important; }

.circle {
  position: relative;
  padding: 10px;
  width: 100%; }
  .circle .spinner {
    border: 10px solid #30A9DE;
    border-right-color: #EFDC05;
    border-bottom-color: #EFDC05;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  .circle .img-circle {
    border-radius: 50%;
    width: 100%; }
  .circle .info {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    padding: 0 20px;
    pointer-events: none; }
  .circle:hover .info {
    opacity: 1; }
  .circle .info .circle-title {
    text-transform: uppercase;
    letter-spacing: 2px; }
  .circle .info .circle-text {
    font-style: italic;
    font-size: 0.85rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 5px; }

.circle:hover .spinner {
  background: rgba(0, 0, 0, 0.6); }

.circle.primary-colored:hover .spinner {
  background: rgba(48, 169, 222, 0.6); }

.circle.black-colored:hover .spinner {
  background: rgba(33, 33, 33, 0.6); }

.circle.white-colored:hover .spinner {
  background: rgba(243, 243, 243, 0.6); }

.circle.white-colored .info {
  color: #212121 !important; }

.circle.white-colored .info .circle-text {
  border-top-color: rgba(33, 33, 33, 0.3) !important; }

.circle.effect-1 .info {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

.circle.effect-1:hover .spinner {
  background-clip: content-box;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* effect 2 */
.circle.effect-2 {
  padding: 0 !important; }
  .circle.effect-2 .spinner {
    border: 10px solid rgba(243, 243, 243, 0.5) !important; }
  .circle.effect-2:hover .spinner {
    background-clip: border-box;
    border: 10px solid rgba(243, 243, 243, 0.18) !important; }

.circle.effect-2 .info {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

.circle.effect-2:hover .circle-title,
.circle.effect-2:hover .circle-text {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  visibility: visible; }

/* from_left_and_right */
.circle.ahvr-slide-from-left-and-right .circle-title {
  transform: translateX(-100%); }

.circle.ahvr-slide-from-left-and-right:hover .circle-title {
  transform: translateX(0); }

.circle.ahvr-slide-from-left-and-right .circle-text {
  transform: translateX(100%); }

.circle.ahvr-slide-from-left-and-right:hover .circle-text {
  transform: translateX(0); }

/* from-top */
.circle.ahvr-slide-from-top .circle-title {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.circle.ahvr-slide-from-top .circle-text {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.circle.ahvr-slide-from-top:hover .circle-title {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.circle.ahvr-slide-from-top:hover .circle-text {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

/*  from-bottom */
.circle.ahvr-slide-from-bottom .circle-title {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }

.circle.ahvr-slide-from-bottom .circle-text {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }

.circle.ahvr-slide-from-bottom:hover .circle-title {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.circle.ahvr-slide-from-bottom:hover .circle-text {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
