.ahvr-item a,
.ahvr-item a:hover {
  text-decoration: none !important; }

.circle {
  position: relative;
  padding: 10px;
  width: 100%; }
  .circle .spinner {
    border: 10px solid #30A9DE;
    border-right-color: #EFDC05;
    border-bottom-color: #EFDC05;
    transition: all 0.8s ease-in-out; }
  .circle .spinner,
  .circle .info-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 50%; }
  .circle .info-content {
    overflow: hidden; }
  .circle .img-circle {
    border-radius: 50%;
    width: 100%; }
  .circle .info {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    padding: 0 20px;
    pointer-events: none;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .circle:hover .info {
    opacity: 1; }
  .circle .info .circle-title {
    text-transform: uppercase;
    letter-spacing: 2px; }
  .circle .info .circle-text {
    font-style: italic;
    font-size: 0.85rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 5px; }

/*  color default and colors variants */
.circle:hover .spinner {
  background: rgba(0, 0, 0, 0.6); }

.circle.primary-colored:hover .spinner {
  background: rgba(48, 169, 222, 0.6); }

.circle.black-colored:hover .spinner {
  background: rgba(33, 33, 33, 0.6); }

.circle.white-colored:hover .spinner {
  background: rgba(243, 243, 243, 0.6); }

.circle.white-colored .info {
  color: #212121 !important; }

.circle.white-colored .info .circle-text {
  border-top-color: rgba(33, 33, 33, 0.3) !important; }

/* from-left-and-right */
.ahvr-item.circle.slide-from-left-and-right .circle-title {
  transform: translateX(-100%); }

.ahvr-item.circle.slide-from-left-and-right:hover .circle-title {
  transform: translateX(0); }

.ahvr-item.circle.slide-from-left-and-right .circle-text {
  transform: translateX(100%); }

.ahvr-item.circle.slide-from-left-and-right:hover .circle-text {
  transform: translateX(0); }

/* from-top */
.ahvr-item.circle.slide-from-top .circle-title,
.ahvr-item.circle.slide-from-top .circle-text {
  transform: translateY(-100%); }

.ahvr-item.circle.slide-from-top:hover .circle-title,
.ahvr-item.circle.slide-from-top:hover .circle-text {
  transform: translateY(0); }

/*  from-bottom */
.ahvr-item.circle.slide-from-bottom .circle-title,
.ahvr-item.circle.slide-from-bottom .circle-text {
  transform: translateY(100%); }

.ahvr-item.circle.slide-from-bottom:hover .circle-title,
.ahvr-item.circle.slide-from-bottom:hover .circle-text {
  transform: translateY(0); }

.circle.effect-1 .info {
  -webkit-transition: all 0.85s ease-in-out;
  -moz-transition: all 0.85s ease-in-out;
  transition: all 0.85s ease-in-out; }

.circle.effect-1:hover .spinner {
  background-clip: content-box;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* EFFECT 2 */
.circle.effect-2 {
  padding: 0 !important; }
  .circle.effect-2 .spinner {
    border: 10px solid rgba(243, 243, 243, 0.5) !important; }
  .circle.effect-2:hover .spinner {
    background-clip: border-box;
    border: 10px solid rgba(243, 243, 243, 0.18) !important; }

.circle.effect-2 .info-content {
  transition: all 0.45s ease-in-out; }

.circle.effect-2 .circle-title {
  transition: all 0.45s ease-in-out; }

.circle.effect-2 .circle-text {
  transition: all 0.45s ease-in-out; }

.circle.effect-2:hover .info {
  opacity: 1; }

/* EFECCT-3 */
.circle.effect-3 {
  padding: 0 !important; }
  .circle.effect-3 .spinner {
    border: 10px solid rgba(243, 243, 243, 0.5) !important;
    background-color: transparent; }
  .circle.effect-3:hover .spinner {
    background-clip: border-box;
    border: 10px solid rgba(243, 243, 243, 0.18) !important;
    background-color: transparent;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }

.circle.effect-3 .info-content {
  background: rgba(0, 0, 0, 0.6);
  transform: scale(0);
  transition: all 0.5s ease-in-out; }

.circle.effect-3:hover .info-content {
  transform: scale(1); }

.circle.effect-3.primary-colored .info-content {
  background: rgba(48, 169, 222, 0.6) !important; }

.circle.effect-3.white-colored .info-content {
  background: rgba(243, 243, 243, 0.6) !important; }

.circle.effect-3.black-colored .info-content {
  background: rgba(33, 33, 33, 0.6) !important; }

/* EFECCT-3 */
.circle.effect-4 {
  padding: 0 !important;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px; }
  .circle.effect-4 .spinner {
    border: 10px solid rgba(243, 243, 243, 0.5) !important;
    background-color: transparent; }
  .circle.effect-4:hover .spinner {
    background-clip: border-box;
    border: 10px solid rgba(243, 243, 243, 0.18) !important;
    background-color: transparent; }

.circle.effect-4 .info-content {
  transition: all 0.55s ease-in-out;
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, 0, -180deg); }
  .circle.effect-4 .info-content .info {
    transition: all 0.5s ease-in;
    visibility: hidden; }

.circle.effect-4:hover .info-content {
  background: rgba(0, 0, 0, 0.6);
  transform: rotate3d(0, 1, 0, 0deg); }
  .circle.effect-4:hover .info-content .info {
    visibility: visible; }

.circle.effect-4:hover.primary-colored .info-content {
  background: rgba(48, 169, 222, 0.6) !important; }

.circle.effect-4:hover.white-colored .info-content {
  background: rgba(243, 243, 243, 0.6) !important; }

.circle.effect-4:hover.black-colored .info-content {
  background: rgba(33, 33, 33, 0.6) !important; }
