.ahvr-square {
  position: relative; }
  .ahvr-square .image {
    display: block;
    width: 100%;
    height: auto; }
  .ahvr-square .overlay {
    position: absolute;
    background-color: #30A9DE;
    overflow: hidden;
    transition: .5s ease; }
  .ahvr-square .middle {
    color: #f3f3f3;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 1rem; }

/*
=========================================================
zoom image
=========================================================
*/
.ahvr-square.ahvr-zoom-image {
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s; }

.ahvr-square.ahvr-zoom-image:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05); }

/* Background  */
.ahvr-bg-primary,
.ahvr-bg-primary .overlay {
  background: #30A9DE !important; }

.ahvr-bg-secondary,
.ahvr-bg-secondary .overlay {
  background: #EFDC05 !important; }

.ahvr-bg-primary-light,
.ahvr-bg-primary-light .overlay {
  background: #82CDEE !important; }

.ahvr-bg-primary-dark,
.ahvr-bg-primary-dark .overlay {
  background: #0474A5 !important; }

/* Background Transparent  */
.ahvr-bg-primary-50,
.ahvr-bg-primary-50 .overlay {
  background: rgba(48, 169, 222, 0.5) !important; }

.ahvr-bg-secondary-50,
.ahvr-bg-secondary-50 .overlay {
  background: rgba(239, 220, 5, 0.5) !important; }

.ahvr-bg-black-50,
.ahvr-bg-black-50 .overlay {
  background: rgba(33, 33, 33, 0.5) !important;
  color: #f3f3f3; }

.ahvr-bg-white-50,
.ahvr-bg-white-50 .overlay {
  background: rgba(243, 243, 243, 0.5) !important;
  color: #212121 !important; }
  .ahvr-bg-white-50 .middle,
  .ahvr-bg-white-50 .overlay .middle {
    color: #212121; }

.ahvr-boxed-image .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.75);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.ahvr-boxed-image:hover .overlay {
  background-color: rgba(33, 33, 33, 0.45); }

.ahvr-boxed-image .middle .boxed-icon {
  font-size: 2.5rem; }

.ahvr-boxed-image .middle .boxed-title {
  font-weight: 600; }

.ahvr-boxed-image .middle .boxed-text {
  font-weight: 300;
  font-size: 1rem; }

.ahvr-boxed-image:hover > * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.ahvr-boxed-image:hover.boxed-pulse > * {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

.ahvr-boxed-image:hover.boxed-zoom-in > * {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

.ahvr-boxed-image:hover.boxed-bounce > * {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

.ahvr-boxed-image:hover.boxed-rubber-band > * {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand; }

.ahvr-boxed-image:hover.boxed-swing > * {
  -webkit-animation-name: swing;
  animation-name: swing; }

.ahvr-boxed-image:hover.boxed-shake > * {
  -webkit-animation-name: shake;
  animation-name: shake; }

.ahvr-boxed-image:hover.boxed-wobble > * {
  -webkit-animation-name: wobble;
  animation-name: wobble; }

.ahvr-boxed-image:hover.boxed-jello > * {
  -webkit-animation-name: jello;
  animation-name: jello; }

.ahvr-bg-primary-box .overlay {
  background-color: rgba(48, 169, 222, 0.75); }

.ahvr-bg-primary-box:hover .overlay {
  background-color: rgba(48, 169, 222, 0.45); }

.ahvr-bg-secondary-box .overlay {
  background-color: rgba(239, 220, 5, 0.75); }

.ahvr-bg-secondary-box:hover .overlay {
  background-color: rgba(239, 220, 5, 0.45); }

.ahvr-bg-white-box .overlay {
  background-color: rgba(243, 243, 243, 0.75); }

.ahvr-bg-white-box:hover .overlay {
  background-color: rgba(243, 243, 243, 0.45); }

.ahvr-bg-white-box .middle {
  color: #212121; }
