.ahvr-item a,
.ahvr-item a:hover {
  text-decoration: none !important;
}

.circle {
  position: relative;
  padding: $border_width;
  width: 100%;
  .spinner {
    border: $border_width solid $primary-color;
    border-right-color: $secondary-color;
    border-bottom-color: $secondary-color;
    transition: all 0.8s ease-in-out;
  }
  .spinner,
  .info-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 50%;
  }
  .info-content{
    overflow: hidden;
  }
  .img-circle {
    border-radius: 50%;
    width: 100%;
  }
  .info {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    padding: 0 $border_width*2;
    pointer-events: none;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &:hover .info {
    opacity: 1;
  }
  .info .circle-title {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .info .circle-text {
    font-style: italic;
    font-size: 0.85rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 5px;
  }
}

/*  color default and colors variants */
.circle:hover .spinner {
  background: rgba(0, 0, 0, 0.6);
}

.circle.primary-colored:hover .spinner {
  background: rgba($primary-color, 0.6);
}

.circle.black-colored:hover .spinner {
  background: rgba($black, 0.6);
}

.circle.white-colored {
  &:hover .spinner {
    background: rgba($white, 0.6);
  }
  .info {
    color: $black !important;
  }
  .info .circle-text {
    border-top-color: rgba($black, 0.3) !important;
  }
}



/* from-left-and-right */

.ahvr-item.circle.slide-from-left-and-right .circle-title {
  @include translateX(-100%);
}

.ahvr-item.circle.slide-from-left-and-right:hover .circle-title {
  @include translateX(0);
}

.ahvr-item.circle.slide-from-left-and-right .circle-text {
  @include translateX(100%);
}

.ahvr-item.circle.slide-from-left-and-right:hover .circle-text {
  @include translateX(0);
}

/* from-top */

.ahvr-item.circle.slide-from-top .circle-title,
.ahvr-item.circle.slide-from-top .circle-text {
  @include translateY(-100%);
}

.ahvr-item.circle.slide-from-top:hover .circle-title,
.ahvr-item.circle.slide-from-top:hover .circle-text {
  @include translateY(0);
}

/*  from-bottom */

.ahvr-item.circle.slide-from-bottom .circle-title,
.ahvr-item.circle.slide-from-bottom .circle-text {
  @include translateY(100%);
}

.ahvr-item.circle.slide-from-bottom:hover .circle-title,
.ahvr-item.circle.slide-from-bottom:hover .circle-text {
  @include translateY(0);
}