a,
a:hover {
  text-decoration: none !important;
}

.circle {
  position: relative;
  padding: $border_width;
  width: 100%;
  .spinner {
    border: $border_width solid $primary-color;
    border-right-color: $secondary-color;
    border-bottom-color: $secondary-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .img-circle {
    border-radius: 50%;
    width: 100%;
  }
  .info {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    padding: 0 $border_width*2;
  }
  &:hover .info {
    opacity: 1;
  }
  .info .circle-title {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .info .circle-text {
    font-style: italic;
    font-size: 0.85rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 5px;
  }
}

.circle:hover .spinner {
  background: rgba(0, 0, 0, 0.6);
}

.circle.primary-colored:hover .spinner {
  background: rgba($primary-color, 0.6);
}

.circle.black-colored:hover .spinner {
  background: rgba($black, 0.6);
}

.circle.white-colored {
  &:hover .spinner {
    background: rgba($white, 0.6);
  }
  .info {
    color: $black !important;
  }
  .info .circle-text {
    border-top-color: rgba($black, 0.3) !important;
  }
}

.circle.effect-1:hover .spinner {
  
  background-clip: content-box;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* effect 2 */

.circle.effect-2 {
  padding: 0 !important; 

  .spinner { 
     border:  $border_width solid rgba( $white, 0.5) !important;
  }
  &:hover .spinner {
    background-clip: border-box;
    border:  $border_width solid rgba( $white, 0.18) !important;

  }
}


.circle.effect-2:hover .circle-title  ,
.circle.effect-2:hover .circle-text {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  visibility: visible;
}

/* from_left_and_right */
.circle.from_left_and_right .info .circle-title {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.circle.from_left_and_right .info .circle-text {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.circle.from_left_and_right:hover .circle-title {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.circle.from_left_and_right:hover .circle-text {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* top_to_bottom */
.circle.top_to_bottom .info .circle-title {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.circle.top_to_bottom .info .circle-text {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.circle.top_to_bottom:hover .circle-title {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.circle.top_to_bottom:hover .circle-text {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*  bottom_to_top */
.circle.bottom_to_top .info .circle-title {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.circle.bottom_to_top .info .circle-text {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.circle.bottom_to_top:hover .circle-title {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.circle.bottom_to_top:hover .circle-text {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
