/* EFECCT-3 */

.circle.effect-3 {
  padding: 0 !important;
  .spinner {
    border: $border_width solid rgba( $white, 0.5) !important;
    background-color: transparent;
  }
  &:hover .spinner {
    background-clip: border-box;
    border: $border_width solid rgba( $white, 0.18) !important;
    background-color: transparent;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
}

.circle.effect-3 {
  .info-content {
    background: rgba(0, 0, 0, 0.6);
    transform: scale(0);
    transition: all 0.5s ease-in-out;
  }
  &:hover .info-content {
    transform: scale(1);
  }
  &.primary-colored .info-content {
    background: rgba($primary-color, 0.6)!important;
  }
  &.white-colored .info-content {
    background: rgba($white, 0.6)!important;
  }
  &.black-colored .info-content {
    background: rgba($black, 0.6)!important;
  }
}