/* EFFECT 2 */

.circle.effect-2 {
  padding: 0 !important;
  .spinner {
    border: $border_width solid rgba( $white, 0.5) !important;
  }
  &:hover .spinner {
    background-clip: border-box;
    border: $border_width solid rgba( $white, 0.18) !important;
  }
}

.circle.effect-2 {
  .info-content {
    transition: all 0.45s ease-in-out;
  }
  .circle-title {
    transition: all 0.45s ease-in-out;
  }
  .circle-text {
    // visibility: hidden;
    transition: all 0.45s ease-in-out;

  }

  &:hover {
    .info {
      opacity: 1;
    }
  }
}