.ahvr-square {
  position: relative;
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    background-color: $primary-color;
    overflow: hidden;
    transition: .5s ease;
  }
  .middle {
    color: $white;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* Background  */

.ahvr-bg-secondary,
.ahvr-bg-secondary .overlay {
  background: $secondary-color;
}

/* Background Transparent  */

.ahvr-bg-primary-50,
.ahvr-bg-primary-50 .overlay {
  background: rgba($primary-color, .5);
}

.ahvr-bg-secondary-50,
.ahvr-bg-secondary-50 .overlay {
  background: rgba($secondary-color, .5);
}

.ahvr-bg-black-50,
.ahvr-bg-black-50 .overlay {
  background: rgba($black, .5);
  color: $white;
}

.ahvr-bg-white-50,
.ahvr-bg-white-50 .overlay {
  background: rgba($white, .5);
  .middle {
    color: $black;
  }
}