.ahvr-square {
  position: relative;

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    background-color: $ahvr-primary-color;
    overflow: hidden;
    transition: .5s ease;
  }

  .middle {
    color: $ahvr-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
}

/*
=========================================================
zoom image
=========================================================
*/

.ahvr-square.ahvr-zoom-image {
  transition: transform .3s;
}

.ahvr-square.ahvr-zoom-image:hover {
  transform: scale(1.05);
}


.overlay-hidden {
  overflow: hidden;
}