.ahvr-square {
  position: relative;
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    background-color: $primary-color;
    overflow: hidden;
    transition: .5s ease;
  }
  .middle {
    color: $white;
    // font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
}

/*
=========================================================
zoom image
=========================================================
*/

.ahvr-square.ahvr-zoom-image {
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
}

.ahvr-square.ahvr-zoom-image:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

/* Background  */

.ahvr-bg-primary,
.ahvr-bg-primary .overlay {
  background: $primary-color!important;
}

.ahvr-bg-secondary,
.ahvr-bg-secondary .overlay {
  background: $secondary-color!important;
}

.ahvr-bg-primary-light,
.ahvr-bg-primary-light .overlay {
  background: $primary-light-color!important;
}

.ahvr-bg-primary-dark,
.ahvr-bg-primary-dark .overlay {
  background: $primary-dark-color!important;
}

/* Background Transparent  */

.ahvr-bg-primary-50,
.ahvr-bg-primary-50 .overlay {
  background: rgba($primary-color, .5)!important;
}

.ahvr-bg-secondary-50,
.ahvr-bg-secondary-50 .overlay {
  background: rgba($secondary-color, .5)!important;
}

.ahvr-bg-black-50,
.ahvr-bg-black-50 .overlay {
  background: rgba($black, .5)!important;
  color: $white;
}

.ahvr-bg-white-50,
.ahvr-bg-white-50 .overlay {
  background: rgba($white, .5)!important;
  color: $black!important ;
  .middle {
    color: $black;
  }
}