.ahvr-fade-overlay {
  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  &:hover .overlay {
    opacity: 1;
  }
}

.ahvr-fade-slide{
  .overlay {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    background-color:transparent ;
  }
  &:hover .overlay {
    background-color: rgba($primary-color, 0.7)!important;

  }

  .middle {
    top: auto;
    left: 50%;
    opacity: 0;
     -webkit-transition: opacity .3s, margin .3s;
    -moz-transition: opacity .3s, margin .3s;
    -ms-transition: opacity .3s, margin .3s;
    -o-transition: opacity .3s, margin .3s;
    transition: opacity .3s, margin .3s;
    margin-top: 0;
  }
  &:hover .overlay  .middle {
    opacity: 1;
    margin-top: 50% ;
  }
}


.ahvr-fade-slide-from-top{
  .middle {
    margin-top: 0;
  }
  &:hover .overlay  .middle {
    margin-top: 50% ;
  }
}

.ahvr-fade-slide-from-bottom {
  .middle {
    margin-top: 100%!important;
  }
  &:hover .overlay  .middle {

    margin-top: 50%!important ;
  }
}

.ahvr-fade-slide-from-left {
  .middle {
    top: 50%;
    left: auto;
    margin: 0 ;
    margin-left: 0!important;
  }
  &:hover .overlay  .middle {
    margin: 0 ;
    margin-left: 50%!important ;
  }
}




.ahvr-fade-slide-from-right{
   .middle {
     top: 50%;
     left: 100%;
     opacity: 0;
      -webkit-transition: opacity .3s, left .3s!important;
     -moz-transition: opacity .3s, left .3s!important;
     -ms-transition: opacity .3s, left .3s!important;
     -o-transition: opacity .3s, left .3s!important;
     transition: opacity .3s, left .3!important;
    //  margin: 0 ;
    //  margin-right: 0;
   }
   &:hover .overlay  .middle {
     opacity: 1;
    //  margin: 0 ;
    //  margin-right: 50% ;
     left: 50%;

   }
 }




.ahvr-fade-slide-from-right-1{
 .overlay {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    background-color:transparent ;
  }
  &:hover .overlay {
    background-color: rgba($primary-color, 0.7)!important;

  }

  .middle {
    top: 50%;
    left: 100%;
    opacity: 0;
     -webkit-transition: opacity .3s, margin .3s;
    -moz-transition: opacity .3s, margin .3s;
    -ms-transition: opacity .3s, margin .3s;
    -o-transition: opacity .3s, margin .3s;
    transition: opacity .3s, margin .3s;
    margin: 0 ;
    margin-right: 0;
  }
  &:hover .overlay  .middle {
    opacity: 1;
    margin: 0 ;
    margin-right: 50% ;
    left: 50%;

  }
}

