.ahvr-fade-overlay {
  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }
  &:hover .overlay {
    opacity: 1;
  }
}

.ahvr-fade-slide{
  .overlay {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    background-color:transparent ;
  }
  &:hover .overlay {
    background-color: rgba($primary-color, 0.7)!important;

  }

  .middle {
    top: 50%;
    left: 50%;
    opacity: 0;
     -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }
  &:hover .overlay  .middle {
    opacity: 1;
  }
}


.ahvr-fade-slide-from-top{
  .middle {
    top: 0;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
  }
  &:hover .overlay  .middle {
    top: 50% ;
  }
}

.ahvr-fade-slide-from-bottom {
  .middle {
    top: 100%!important;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
  }
  &:hover .overlay  .middle {

    top: 50%!important ;
  }
}

.ahvr-fade-slide-from-left{
  .middle {
    left: 0;
     -webkit-transition: left .3s!important;
    -moz-transition: left .3s!important;
    -ms-transition: left .3s!important;
    -o-transition: left .3s!important;
    transition: left .3!important;
  }
  &:hover .overlay  .middle {
    left: 50%;
  }
}



.ahvr-fade-slide-from-right{
   .middle {
     left: 100%;
      -webkit-transition: left .3s!important;
     -moz-transition: left .3s!important;
     -ms-transition: left .3s!important;
     -o-transition: left .3s!important;
     transition: left .3!important;
   }
   &:hover .overlay  .middle {
     left: 50%;
   }
 }




.ahvr-fade-slide-from-right-1{
 .overlay {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    background-color:transparent ;
  }
  &:hover .overlay {
    background-color: rgba($primary-color, 0.7)!important;

  }

  .middle {
    top: 50%;
    left: 100%;
    opacity: 0;
     -webkit-transition: opacity .3s, margin .3s;
    -moz-transition: opacity .3s, margin .3s;
    -ms-transition: opacity .3s, margin .3s;
    -o-transition: opacity .3s, margin .3s;
    transition: opacity .3s, margin .3s;
    margin: 0 ;
    margin-right: 0;
  }
  &:hover .overlay  .middle {
    opacity: 1;
    margin: 0 ;
    margin-right: 50% ;
    left: 50%;

  }
}

