.figure-box figure {
  margin: 0;
}

.figure-box {
  overflow: hidden;
  .image {
    transition: transform 0.5s ease-out;
  }
  .info {
    box-sizing: border-box;
    background-color: rgba($black, 0.35);
    bottom: 0;
    color: #fff;
    padding: 0.75rem;
    position: absolute !important;
    min-width: 100%;
    max-height: 100%;
    transform: translateY(100%) translateY(-50px) translateZ(0);
    /* transition: transform 0.5s ease-out; */
    transition: all 0.35s ease-out;
    .info-title {
      text-align: center;
    }
    .info-descripcion {
      text-align: justify;
    }
  }
  &:hover {
    .image {
      transform: scale(1.05);
    }
    .info {
      transform: translateY(0) translateZ(0);
    }
    .info-h-100 {
      overflow: auto;
      height: 100%;
    }
    .info-h-100 .info-center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.figure-box.figure-black-primary {
  .info {
    /* transition: .5s ease; */
    background-color: rgba($black, 0.25) !important;
  }
  &:hover {
    .info {
      background-color: rgba($primary-color, 0.85) !important;
    }
  }
}
