.ahvr-opacity-box {
  .image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    color: $secondary-color;
    opacity: 0;
  }
  &:hover .image {
    opacity: 0.3;
  }
  &:hover .middle {
    opacity: 1;
  }
  .text {
    color: $black;
  }
}