
$border_width: 10px;



$white              : #f3f3f3;
$black              : #212121;

$primary-color      : #30A9DE ;
$primary-light-color: #82CDEE ;
$primary-dark-color : #0474A5 ;
$secondary-color    : #EFDC05;
