// width of the border
$border_width: 10px;

/* $primary-color: #2196F3 ;
$secondary-color: #1976D2;

$white: #f3f3f3;
$black: #212121; */



$white: #f3f3f3;
$black: #212121;

$primary-color : #30A9DE ;
$secondary-color: #EFDC05;



