$ahvr-border-width: 10px !default;

$ahvr-white: #f3f3f3 !default;
$ahvr-black: #212121 !default;

$ahvr-primary-color      : #30A9DE !default;
$ahvr-primary-light-color: #82CDEE !default;
$ahvr-primary-dark-color : #0474A5 !default;
$ahvr-secondary-color    : #EFDC05 !default;