/* Background  */

.ahvr-bg-primary,
.ahvr-bg-primary .overlay {
  background: $primary-color !important;
}

.ahvr-bg-secondary,
.ahvr-bg-secondary .overlay {
  background: $secondary-color !important;
}

.ahvr-bg-primary-light,
.ahvr-bg-primary-light .overlay {
  background: $primary-light-color !important;
}

.ahvr-bg-primary-dark,
.ahvr-bg-primary-dark .overlay {
  background: $primary-dark-color !important;
}

.ahvr-bg-black,
.ahvr-bg-black .overlay {
  background: $black !important;
}

.ahvr-bg-white,
.ahvr-bg-white .overlay {
  background: $white !important;
  >* {
    color: $black !important;
  }
}

/* Background Transparent - 50  */

.ahvr-bg-primary-50,
.ahvr-bg-primary-50 .overlay {
  background: rgba($primary-color, .5) !important;
}

.ahvr-bg-secondary-50,
.ahvr-bg-secondary-50 .overlay {
  background: rgba($secondary-color, .5) !important;
}

.ahvr-bg-black-50,
.ahvr-bg-black-50 .overlay {
  background: rgba($black, .5) !important;
  color: $white;
}

.ahvr-bg-white-50,
.ahvr-bg-white-50 .overlay {
  background: rgba($white, .5) !important;
  color: $black !important;
  .middle {
    color: $black;
  }
}

/* Background Transparent - 75  */

.ahvr-bg-primary-75,
.ahvr-bg-primary-75 .overlay {
  background: rgba($primary-color, .75) !important;
}

.ahvr-bg-secondary-75,
.ahvr-bg-secondary-75 .overlay {
  background: rgba($secondary-color, .75) !important;
}

.ahvr-bg-black-75,
.ahvr-bg-black-75 .overlay {
  background: rgba($black, .75) !important;
  color: $white;
}

.ahvr-bg-white-75,
.ahvr-bg-white-75 .overlay {
  background: rgba($white, .75) !important;
  color: $black !important;
  .middle {
    color: $black;
  }
}




/* colors combination */

.ahvr-bg-black-primary-50 {
  background: rgba($black, .5) !important;
  &:hover .overlay {
    background: rgba($primary-color, .5) !important;
  }
}

.ahvr-bg-black-primary-75 {
  background: rgba($black, .75) !important;
  &:hover .overlay {
    background: rgba($primary-color, .75) !important;
  }
}

/* bg-opacities box ======================================== */

.ahvr-bg-primary-box {
  .overlay {
    background-color: rgba($primary-color, .75) !important;
  }
  &:hover .overlay {
    background-color: rgba($primary-color, .45) !important;
  }
}

.ahvr-bg-secondary-box {
  .overlay {
    background-color: rgba($secondary-color, .75) !important;
  }
  &:hover .overlay {
    background-color: rgba($secondary-color, .45) !important;
  }
}

.ahvr-bg-white-box {
  .overlay {
    background-color: rgba($white, .75) !important;
  }
  &:hover .overlay {
    background-color: rgba($white, .45) !important;
  }
  .middle {
    color: $black;
  }
}

/* bg-opacities circle ======================================== */

.ahvr-bg-primary-circle {
  .spinner {
    background-color: rgba($primary-color, 0.25) !important;
  }
  &:hover .spinner {
    background-color: rgba($primary-color, 0.6) !important;
  }
}

.ahvr-bg-secondary-circle {
  .spinner {
    background-color: rgba($secondary-color, 0.25) !important;
  }
  &:hover .spinner {
    background-color: rgba($secondary-color, 0.6) !important;
  }
}

.ahvr-bg-white-circle {
  .spinner {
    background-color: rgba($white, 0.25) !important;
  }
  &:hover .spinner {
    background-color: rgba($white, 0.6) !important;
  }
  .middle {
    color: $black !important;
  }
}